

html {
    scroll-behavior:smooth;
  }

  
body{
    background-image: url("trans-logo.png") !important;
    background-repeat: no-repeat;
    background-color: #101820 !important;
    background-position:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-attachment:fixed ;
    margin: 0;
    padding: 0;
}

header {
    margin-left:400px ;
    position:fixed;
    background-color:#fee71500;
    padding:10px ;
    display: flex;
    align-items: center;
    border-radius:50cqmax;
    transition: .5s;
    z-index: 2;
}
header:hover{
    background-color: #FEE715;
    transition: .3s;
}

.logo {
    margin-right: 20px;
    border:3px;
    border-color: #101820;
    border-style:solid;
    border-radius: 100%;
    background-color:  #101820;
    filter: drop-shadow(1px 0px 30px  #FEE715);
}
.logo:hover{
    border:5x;
    border-color:white;
    border-style:solid;
    border-radius: 100%;
    background-color:#101820;
}
.logo img {
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color:white;
    margin: 0px 25px 0px 20px;
    filter: drop-shadow(1px 0px 12px  #FEE715);
    transition: .2s;
    padding: 2px;
}

nav a:hover{
    background-color:black;
    color:white;
    border-radius: 20px;
    padding: 2px;
}


.slideshow {
    width: 100%;
    height: 550px; /* adjust the height to your liking */
    overflow: hidden;
    border-radius:100px;
}

.slide {
    background-attachment: fixed; 
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 90%;
    display: none;
}



.slide img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius:100px;
}



#heading{
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color:whitesmoke;

}


/*CARDS*/

/*
.card {
    width: 190px;
    height:300px;
    padding: 0.5rem;
    background: rgba(198, 198, 198, 0.34);
    border-radius: 8px;
    backdrop-filter: blur(50px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px  rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transition: .4s;
    overflow: hidden;
    color: white;

  }
  */


  figure {
    position: relative;
    display: grid;
    border-radius: 1rem;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
    box-shadow:5px 2px 10px  1px white;
    transition: .7s;
    width: 250px;
    height:400px;
}
figure:hover{
    box-shadow:5px 2px 10px  1px #FEE715;
    transition: .7s;
}
figure img{
    width: 100%;
    height: 100%;
}

figure > * {
    grid-area: 1/1;
    transition: .7s;
}


figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #fff;
    padding: .75rem;
    background: rgba(0, 0, 0, 0.9);
    clip-path: inset(0 100% 0 0);
}

figcaption p{
    font-size:17px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

#price{
    margin: -2x;
    font-family: 'Times New Roman', Times, serif;
}
#size{
    margin: 0px ;
    font-size:30px;
    box-shadow: 150px -90px 800px 20px #FEE715;
    border-radius: 20px;

}


figure:hover figcaption {
    clip-path: inset(0 0 0 0);
}


figure:hover img {
    transform: scale(0.9);
}

  section{
    display:flex;
    justify-content: space-evenly;
    padding: 10px;
  }

.text{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 0px 70px 0px 100px;
    text-align: center;
    display:flow-root;
    justify-content:stretch;
  }

.form-design{
    
    /* background-image: url("trans-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:40%;
    background-attachment: fixed; */

    position: absolute;
    left:22%;
    display:inline-block;
    padding:90px 190px 90px 190px;
    border-radius: 20px;
    box-shadow: 0px 0px 70px 10px black;
    font-family: 'Times New Roman', Times, serif;    

    backdrop-filter: blur(20px);


}

.form-design h1{

    color:white;
    text-decoration: underline;
    filter: drop-shadow(0px 10px 10px #FEE715);
    letter-spacing: 5px;
    font-size: 55px;
    text-align: center;
}

.form-design label{
    font-size: 20px;
    color:#FEE715;
    filter: drop-shadow(0px 0px 0px #FEE715);
    font-weight: bolder;
    margin: 10px;
}

.form-design input{
    opacity: 0.1;
    font-size:16px;
    border-radius: 20px;
    color: black;
    font: weight 100px;
    width:100%;
    height: 35px;
    margin: 10px;
    
    transition: .5s;
}

.form-design textarea{
    opacity: 0.1;
    font-size:16px;
    border-radius: 20px;
    color: black;
    font: weight 100px;
    width:100%;
    height: 70px;
    margin: 10px;
    
    transition: .5s;
}

.form-design input:focus,textarea:focus{
    box-shadow:0px 0px 100px 0px #FEE715;
    width:100%;
    opacity:0.7;
}

.form-design button{
    font-size:16px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    text-align: center;
    color:black;
    font-weight: 100px;
    background-color: lime;
    filter: drop-shadow(0px 0px 0px lime);
}


.about{
    position:relative;

}


video{
    position:relative;
    margin: 55% 0% 0% 0%;
    width: 100%;
}


.content {
  position: absolute;
  top:2599px;
  font-family: 'Times New Roman', Times, serif;
  color: #f1f1f1;
  width: 95%;
  margin: 12px;
  padding: 20px;
}

.content h1{
    position: absolute;
    top: -0px;
    display: flex;
    padding: 30px;
    margin-left: 90px;
    justify-content: left;
    font-size:60px;
    color:#FEE715;
}
.content img{
    position: absolute;
    top: 190px;
    border-radius: 100%;
    margin-left: 90px;
    border: 10px solid #FEE715;
    background-color: transparent;
}
.content h2{
    position: absolute;
    top: 50px;
    left:55%;
    text-decoration: underline;
    font-style:oblique;
    letter-spacing:5px;
    padding: 30px;
    font-size:40px;
    color:white;
}
.content p{
    position: absolute;
    top: 190px;
    left: 550px;
    background:rgba(255, 255, 255, 0.116);
    text-align: justify;
    letter-spacing:2px;
    font-style:italic;
    margin-right:100px;
    padding:40px;
    font-size: 20px;
}

footer{
    /*position: absolute;
    top:3130px;*/

    background-color:black;
    border-radius: 20px;
    margin:2px;
    padding:10px;
    box-shadow: 0px 0px 10px 2px #FEE715;

}

footer a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin:0px 0px 0px 90px;
    text-decoration: none;
    transition: .4s;
}

footer a:hover{
    color:#FEE715;
    text-decoration:underline;
}

footer p{
    text-align: center;
    margin:0px 0px 10px 0px;
    color: white;
    font-size:25px;
}


footer hr{
    position: absolute;
    left:630px;
    rotate:90deg;
    width: 50px;
}

.social{
    text-align:right;
}
.social img{
    text-align:center;
    background-color: white;
    border-radius:100%;
    padding:5px;
    width:1.8%;
    margin: 0px 15px 0px 15px;
    transition: .2s ease-in;
}
.social img:hover{
    background-color:#FEE715;
}

  /* Make it responsive */
@media (max-width: 700px) {
    body{
        display:inline-block;
        justify-content: center;
        background-position: center;
    }

    header {
        flex-direction:row;
        display:contents;
        justify-content:baseline;
        z-index: 2;

    }
    header:hover{
        transition: .5s;
        background-color: #FEE715;
    }
    .logo {
        flex-direction:row;
        position: fixed;
        z-index: 2;
    }
    nav {
        position:fixed;
        flex-direction:row;
        z-index: 2;
        margin:20px 55px;
    }

    .slideshow {
        height:400px;

    }
    .slide{
        height: 400px;
        width: 700px;
        margin: 30px;
    }

    #heading{
        padding:30px ;
        text-align: center;
        margin-left: 170px;
    }


    section{
        display:grid;
        justify-content: center;
        margin-left:200px ;
    }

    .card{
        margin: 20px;
      }

    .form-design{
        height:400px;
        justify-content: center;
        padding:40px;
        box-shadow: 40px 50px 70px 100px black;
    }

    }



/*Scroll-Bar CSS*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#101820; 
  }

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#555; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }
  
  


  /*Sign In Dialog Box*/

  .dialog {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dialog.show {
    opacity: 1;
    visibility: visible;
}

.dialog-content {
    backdrop-filter: blur(20px);
    margin: 2% auto;
    padding: 20px;
    border: 3px solid #FEE715;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    transform: translateY(-100%);
    transition: transform 0.3s ease;

    /* background-color: #101820;
    background-image: url("trans-logo.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;    */
} 

.show .dialog-content {
    transform: translateY(5%);
}


.dialog-content h2{
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size:40px;
    letter-spacing:10px;
    text-decoration: underline;
}

.close {
    color:white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color:red;
    text-decoration: none;
    cursor: pointer;
}


#openDialog {
    background-color:transparent;
    color:#FEE715;
    border:2px solid #FEE715;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius:5px;
    margin-top: 20px;
    margin-left: 90%;
}

#openDialog:focus {
    outline: none;
}

#openDialog:hover {
    background-color:transparent;
    border:2px solid #FEE715;
    color:#FEE715;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius:5px;
    margin-top: 20px;
    margin-left: 90%;

}



#openDialog1{
    background-color:transparent;
    color:#FEE715;
    border:2px solid #FEE715;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius:5px;

    margin-left:15%;

}

#openDialog1:focus {
    outline: none;
}

#openDialog1:hover {
    background-color:transparent;
    border:2px solid #FEE715;
    color:#FEE715;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius:5px;
}


#openDialog2{
    background-color:transparent;
    color:#FEE715;
    border:2px solid #FEE715;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius:5px;

    margin-left:30%;
}

#openDialog2:focus {
    outline: none;
}

#openDialog2:hover {
    background-color:transparent;
    border:2px solid #FEE715;
    color:#FEE715;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius:5px;
}

#openDialog2FromDialog1,#openDialog1FromDialog2{
    background-color:transparent;
    color:white;
    border:none;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius:5px;
    margin-left:35% ;

    transition:.5s;

}

#openDialog2FromDialog1:hover,#openDialog1FromDialog2:hover{
    color: #FEE715;
}




/* Sign IN Form Style */

.form3 {
    margin: 50px;
  }
  
 .form3 #label_name {
    display: block;
    color: white;
    font-size:20px;
    margin-bottom: 10px;

    letter-spacing: 3px;
  }
  
  .form3 #in_input ,#show {
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    padding:6px;
    border: 1px solid #ccc;
    background-color:rgba(255, 255, 255, 0.233);
    border-radius: 5px;
    letter-spacing: 3px;

  }

  .form3 #in_input:focus, #show:focus{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    padding:6px;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color:rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    letter-spacing: 3px;

  }

  #btn,#btn1{
    color:white;
    padding:6px;
    cursor: pointer;
    border:1px solid white;
    background: transparent;
    border-radius:10px;

  }


  #sub_btn ,#sub_btn1{
    width:94%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding:6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #sub_btn:hover {
    background-color: #3e8e41;
  }
  
  /* Link Styles */
  
  a#c {
    text-decoration: none;
    color: #4CAF50;
  }
  
  a#c:hover {
    color: #3e8e41;
  }