body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    
    background-image:url("Majoras\ Mask.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;


}

h1{
    text-align: center;
    font-size:70px;
}

.back{
    position: absolute;
    border:10px solid black;
    padding :20% 31% 7% 31%;

    border-radius: 20px;
    margin:0px 252px 0px 248px;

    background-image:url("Majoras\ Mask.jpg");
    filter: blur(10px);

    z-index:-1;


    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}

.trans form{
    display:block;
    padding:100px;
    margin-left:415px;
    border-radius: 20px;

}

.trans form label,input{
    padding:7px;
    border-radius: 10px;
    border: 0px;
}

.trans form input{
    border-radius: 10px;
    border: 0px;
    text-align: center;
    padding-left:50px ;
    padding-right: 50px;

}

.trans form button{
    cursor: pointer;
    border-radius: 10px;
    border: 0px;
    padding: 15px;
    background-color:lime ;
}


